*{
  margin: 0;
  padding: 0;
}


body{
  font-size: 20px;
  font-family: 'Prompt', sans-serif;
}


.all-section{
  width: 80%;
  margin: auto;
  margin-top: 80px;
}

.header{
  display: flex;
}


.header-information{
  width: 50%;
}
.header-information div{
  width: 90%;
  margin-top: 50px;
  padding-left: 20px;
  border-left: 5px solid black;
  border-image: linear-gradient(#b044e2,#212faa);
  border-image-slice: 1;
}
.header-information div h1{
   font-size: 80px;
  font-family: 'Courgette', cursive;
}
#challenge{
  color: #212faa;
}
.header-img{
  width: 50%;
}
.header-img img{
  width: 70%;
  margin: auto;
  display: block;
}
.button{
  text-decoration: none;
  padding: 10px 35px;
  border-radius: 5px;
  background-image: linear-gradient(to right,#8b4ba8,#3b4499);
  font-size: 20px;
  color: rgb(255, 255, 255);
}


.plan h1{
  text-align: center;
  font-size: 60px;
}
.plan h1 span{
  color: #212faa;
}
.plan-center{
  display: flex;
}
.about-us{
  padding: 30px;
  margin: 20px;
  border-radius: 30px;
}
.about-us img{
  width: 50%;
}
.mission{
  background-color: rgb(204, 209, 247);;
}
.vission{
  background-color: rgb(216, 231, 188);
}
.goals{
  background-color: rgb(225, 203, 235);
}


.develop{
  display: flex;
}
.coding-img{
  width: 500px;
  height: 500px;
}
.paragraph{
  padding: 30px 0;
  width: 95%;
  letter-spacing: 0.5px;
}
.community{
  display: flex;
}

.info-container{
  padding: 100px 0 100px 100px;
}
.second-info{
    padding-left: 0;
}

.contact h1{
  text-align: center;
  color: #212faa;
  margin: 50px;
}
.contact-container{
  display: flex;

}

.my-info{
  width: 45%;
  padding: 20px 30px;
  padding-left:200px ;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: rgb(228, 233, 248);
}
.signature h1{
  font-family: 'Licorice', cursive;
  margin: 0;
  padding-left: 250px;
}
.my-info div{
  margin-bottom: 20px;
}
.my-info div p{
  padding-left: 20px;
}

.send-msg{
  width: 45%;
  margin:auto;
  padding: 30px 20px;
  border-radius: 20px;
  background-color: rgb(243, 228, 250);
}
.msg-center{
  width: 80%;
  margin: auto;
}
.input-container{
  display: flex;
}
.input{
  width: 50%;
  margin: auto;
  margin: 0 5px;
  outline: none;
  border: 2px solid rgb(7, 1, 34);
  border-radius: 5px;
  background-color: transparent;
  padding: 5px;
  font-size: 17px;
  margin-top: 10px;
}
#msg{
  width: 96%;
  margin: 5px;
  margin-top: 20px;
  outline: none;
  border: 2px solid rgb(7, 1, 34);
  border-radius: 5px;
  background-color: transparent;
  padding: 5px;
  font-size: 17px;
}

#submit{
  width: 98%;
  color: #fff;
  margin: 5px;
  outline: none;
  border-color: transparent;
  border-radius: 5px;
  background-color:rgb(7, 1, 34);
  padding: 5px;
  font-size: 20px;
  letter-spacing: 1.5px;
  font-weight: 600;
}


footer{
  background-color: rgb(6, 6, 51);
  margin-top: 100px;
  color: aliceblue;
  text-align: center;
  padding: 30px;
}